.polaroids {
    margin: 3em 0 5em 0;
    width: 100%;
    text-align: center;
}

.polaroids img {
    z-index: 0;
    height: 150px;
    margin: 0 5px 10px;
    padding: 7px 7px 25px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12),
                0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: all .15s linear;
}

.polaroids img:nth-child(2n) {
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
}
.polaroids img:nth-child(3n) {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
}
.polaroids img:nth-child(4n) {
    -webkit-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    transform: rotate(14deg);
}
.polaroids img:nth-child(5n) {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
}

.polaroids img:hover {
    z-index:1;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
                        0 9px 46px 8px rgba(0, 0, 0, 0.12),
                        0 11px 15px -7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.polaroids.nolink img:hover {
    cursor: default;
}
