GITPRESERVE
/bin/aux/benchhash
/bin/checkhash
/bin/genhash
/bin/genid
/bin/kmarkdown
/etc/badpasswords
/etc/banned
/etc/confirm
/etc/deactivated
/etc/disabled
/etc/reset
/etc/sessions
/etc/unconfirmed
/etc/users
/sites/*/_kwerc/css/*.min.css
/sites/*/img/users
/sites/*/sitemap.gz
/sites/*/sitemap.txt
/sites/vrlfp.net/d41b9ebc7138e5ce248e1c2e134e011e.html
