fn conf_enable_blog {
    blog_uri=$conf_wd
    blog_dirs=$*
    if(~ $#blog_dirs 0)
        blog_dirs=( . )
    conf_enable_app blog

    if(~ $"conf_blog_editors '')
        conf_blog_editors=blog-editors

    if(~ $"conf_max_posts_per_page '')
        conf_max_posts_per_page=32
}

fn blog_init {
    if(~ $#blog_dirs 0 && ~ $req_path */[bB]log/*) {
        blog_uri=`{echo $req_path | sed 's,(/[bB]log/).*,\1,'}
        blog_dirs=( . )
    }

    # Should not match sub-dirs!
    if(! ~ $#blog_dirs 0) {
    # && test -d / `{echo '-a -d '^$blog_root^$blog_dirs}
        blog_url=$base_url^$blog_uri
        blog_root=$sitedir^$blog_uri
        if(check_user $conf_blog_editors) {
            editor_mode=on
            if(~ $"post_arg_date '')
                post_date=`{datei|sed 's,-,/,g'}
            if not
                post_date=$post_arg_date
            ll_add handlers_bar_left echo '<a href="'$blog_uri'new_post">Make a new post</a>'
        }

        if(~ $req_path $blog_uri) {
            handler_body_main=blog_body
            u=$blog_uri'index'
            extraHeaders=$"extraHeaders ^ \
'<link rel="alternate" type="application/atom+xml" title="ATOM" href="'$"u'.atom" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="'$"u'.rss" />'
        }
        if not if(~ $req_path $blog_uri^index.atom)
            blog_setup_feed_handlers atom.tpl 'application/atom+xml'

        if not if(~ $req_path $blog_uri^index.rss)
            blog_setup_feed_handlers rss20.tpl 'text/xml; charset=utf-8'

        if not if(~ $req_path $blog_uri^new_post && ! ~ $#editor_mode 0) {
            handler_body_main=( tpl_handler `{get_lib_file blog/new_post.tpl apps/blog/new_post.tpl} )
            if(~ $REQUEST_METHOD POST) {
                if(mkbpost $"post_arg_body $"post_date $"post_arg_title $post_arg_id)
                    post_redirect $blog_uri
                if not
                    notify_errors=$status
            }
        }
        
    }
}

fn blog_setup_feed_handlers {
    handler_body_main=NOT_USED_by_blog_feeds
    res_tail=()
    http_content_type=$2
    headers=()
    master_template=apps/blog/$1 # Should we allow tempalte override?
}

fn blog_body {
    if (! ~ $"blogTitle '')
        echo '<h1>'$"blogTitle'</h1>'

    # Direct links to feeds are disabled because they are not very useful, add clutter and might waste pagerank.
    # An user can add this on their own using handlers_body_head anyway.
    #echo '<div style="text-align:right">(<a href="index.rss">RSS Feed</a>|<a href="index.atom">Atom Feed</a>)</div>'

    { # XXX Not sure why this fixes issues with blog setup, probably bug in fltr_cache!
    for(p in `{get_post_list $blog_root^$blog_dirs}) {
        l=`{echo -n $p|sed 's!'$sitedir^'/?(.*)([0-9][0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9])(/[^/]+/)!\2 /\1\2\3!'}
        sed '1s!.*![&]('^$l(2)^') ('^$l(1)^')!' < $p/index.md 
        echo # Needed extra \n so markdown doesn't mess up the formatting, probably can be done in sed.
    }
    # XXX BUG! Markdown [references] break because multiple markdown documents are merged. Should format each blog post independently.
    # TODO: use fltr_cache directly, that can fix the previous bug plus provide a perf boost by caching title generation.
    } | $formatter 
}

fn get_post_list {
    # /./->/|/ done to sort -t| and order by date
    # Note: $paths in blog_dirs should not contain '/./' or '|'
    ls -F $*^/./[0-9][0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9]/ >[2]/dev/null | sed -n '/'^$forbidden_uri_chars^'/d; s,/\./,/|/,; /\/$/p' | sort -r '-t|' +1 | sed -e 's,/+\|/+,/,' -e $conf_max_posts_per_page^'q'
}

fn mkbpost {
    bptext=$1
    bpdate=$2
    bptitle=$3
    bpid=$4
    _status=()
    if(~ $"bptext '')
        _status=($_status 'You need to provide a post body.')
    if(! ~ $"bpdate [0-9][0-9][0-9][0-9]/[0-9][0-9]/[0-9][0-9])
        _status=($_status 'Invalid date: '''^$"bpdate^'''') # XXX Should make semantic check.

    if(~ $#_status 0) {
        umask 002 # Let group write
        if(! ~ $"bpid '')
            bpid=`{echo -n '-'^$bpid | sed 's/'$forbidden_uri_chars'+/_/g; 1q'}
        
        ddir=$blog_root^$bpdate^'/'
        n=`{ls $ddir >[2]/dev/null |wc -l}
        
        mkdir -p $ddir/$"n^$"bpid/
        {
            if(! ~ $"bptitle '') {
                echo $bptitle
                echo '========================================='
            }
            # TODO: Enable metadata
            #echo '* Posted:' `{date}
            #if(! ~ $#logged_user 0)
            #   echo '* Author: '$logged_user
            echo 
            echo $bptext
        }> $ddir/$"n^$"bpid/index.md 

        # Experimental support for http://pubsubhubbub.googlecode.com/
        if(! ~ $"conf_blog_pubsubdub_hub '') {
            ifs='' { p=`{echo $req_url|sed 's/new_post$/index.atom/'|url_encode } }
            dprint hget -p 'hub.mode=publish&hub.url='^$"p $conf_blog_pubsubdub_hub
            hget -d -h -p 'hub.mode=publish&hub.url='^$"p $conf_blog_pubsubdub_hub >[1=2] &
        }
    }
    status=$_status
}

fn strip_title_from_md_file {
    sed '1N; /^.*\n===*$/N; /.*\n===*\n$/d'
}
