fn conf_enable_admin {
    conf_enable_app admin
}

fn admin_init {
    if(~ $req_path /admin && check_user admin) {
        handler_body_main=(tpl_handler `{get_lib_file admin/admin.tpl apps/admin/admin.tpl})

        if(~ $"post_arg_admin_submit_delete yes && ! ~ $"post_arg_admin_delete '')
            rm -r etc/users/$post_arg_admin_delete etc/unconfirmed/$post_arg_admin_delete
    }

    if not if(~ $req_path /admin && check_user mod) {
        handler_body_main=(tpl_handler `{get_lib_file admin/mod.tpl apps/admin/mod.tpl})
    }
}
